.section-alta{
    text-align: center; 
    font-size: 60px;
    padding: 35px;
    margin-top: 40px;
    font-family: 'Italianno', cursive;
}

.section-form{
    width: 80%;
    text-align: center;
    background-color: #a19dbe69;
    margin-right: 80px;
    margin-left: 100px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.input{
    margin-bottom: 20px;
    padding: 35px;
}