.section-alta{
    text-align: center; 
    font-size: 60px;
    padding: 35px;
    margin-top: 40px;
    font-family: 'Italianno', cursive;
}

.section-form{
    width: 100%;
    text-align: center;
}